*{
    margin:0;
    padding:0;
    box-sizing: 0;
}
nav{
   display: flex;
   justify-content: space-between;
}
.logo {
    width: 200px;
}
.right-nav{
    display:flex;
    align-items: center;
}
